<html>

<body>
  <header>
    <h2>Kristina Radojevic</h2>
    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>
  </header>
  <main class="main">
    <h4>I am a programmer </h4>
    <button type="button">View my Work</button>
  </main>
  <footer class="footer">
    <a href="https://github.com/kristinaradojevic">github</a>
  </footer>
</body>

</html>